{% extends 'base.html' %}

{% block title %}
    {{blog.title}}
{% endblock %}

{% load staticfiles %}
{% block header_extends %}<link rel="stylesheet" href="{% static 'blog/blog.css'%}">{% endblock %}


{% block nav_blog_active %}active{% endblock %}



{% block content %}
<div class="container">
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1">
            <h3>{{blog.title}}</h3>
            <ul class="blog-info-description">
                <li>作者:{{blog.author}}</li>
                <li>类型:<a href="{% url 'blog_with_type' blog.blog_type.pk %}">{{blog.blog_type}}</a></li>
                <li>发表日期:{{blog.created_time|date:"Y-m-d H:n:s"}}</li>
                <li>阅读({{blog.get_read_num}})</li>
            </ul>
            <div class="blog-content">{{blog.content|safe}}</div>
            <div class="blog-more">
                {% if previous_blog %}
                    <p><a href="{% url 'blog_detail' previous_blog.pk %}">上一篇:{{previous_blog.title}}</a></p>
                {% endif%}
                {% if next_blog %}
                    <p><a href="{% url 'blog_detail' next_blog.pk %}">下一篇:{{next_blog.title}}</a></p>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1">
            <div class="comment-area">
                <h4 class="comment-area-title">提交评论区</h4>
            {% if user.is_authenticated %}
                <form action="{% url 'update_comment' %}" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="comment_text" class="comment-label">{{user.username}}，欢迎评论~</label>
                        <textarea class="form-control" id="comment_text" name="text" rows="4"></textarea>
                    </div>
                    <input type="hidden" name="content_type" value="blog">
                    <input type="hidden" name="object_id" value="{{blog.pk}}">
                    <input type="submit" class="btn btn-primary" style="float:right" name="提交">
                </form>
                {% else %}
                <form action="{% url 'login' %}" method="post" class="form-inline">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="username">用户名:</label>
                        <input type="text" class="form-control" id="username" name="username" placeholder="Username">
                    </div>
                    <div class="form-group">
                        <label for="password">Password:</label>
                        <input type="password" class="form-control" id="password" name="password" placeholder="Password">
                    </div>
                    <button type="submit" class="btn btn-default" value="登录">登录</button>
                </form>
                {% endif %}
            </div>
            <div class="comment-area">
                <h4 class="comment-area-title">评论列表区</h4>
                <ul>
                    {% for comment in comments %}
                    <li class="comment-list">{{comment.user.username}} ({{comment.comment_time|date:"Y-m-d H:m:s"}})：{{comment.text}}</li>
                    {% empty %}
                    <li class="comment-list">暂无评论</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}
