{% extends 'base.html'%}
{% load static %}

<!-- title内容-->
{% block title %}
    我的网站|首页
{% endblock %}


{% block nav_home_active %}active{% endblock %}

<!-- 引入css文件-->
{% block header_extends %}
    <link rel="stylesheet" href="{% static 'home.css' %}">
    <script src="http://cdn.hcharts.cn/highcharts/highcharts.js"></script>
{% endblock %}

<!-- content内容 -->
{% block content %}
    <!--<iframe src="//player.bilibili.com/player.html?aid=21748816&cid=35868771&page=1" scrolling="no" border="0" frameborder="no" framespacing="0" allowfullscreen="true"> </iframe>-->

    <h3 class="home_content">欢迎访问我的网站,随便看</h3>
    <div id="container"></div>
    <div class="container"></div>
        <div class="row">
            <div class="hot_blog col-xs-4">
                <h3>周热门博客</h3>
                <ul>
                    {% for data in week_days_hot_data %}
                    <li><a href="{% url 'blog_detail' data.id %}">{{data.title}}</a></li>
                    {% empty %}
                    <li>暂无热门博客</li>
                {% endfor %}
                </ul>
            </div>
            <div class="hot_blog  col-xs-4">
                <h3>今日热门点击</h3>
                <ul>
                {% for data in today_hot_data %}
                    <li>
                        <a href="{% url 'blog_detail' data.content_object.pk %}">
                            {{data.content_object.title}}({{data.read_num}})
                        </a>
                    </li>
                {% empty %}
                    <li>今日暂无热门博客</li>
                {% endfor %}
                </ul>
            </div>
            <div class="hot_blog col-xs-4">
                <h3>昨日热门点击</h3>
                <ul>
                {% for data in yesterday_hot_data %}
                    <li><a href="{% url 'blog_detail' data.content_object.pk %}">{{data.content_object.title}}({{data.read_num}})</a></li>
                {% empty %}
                    <li>暂无热门博客</li>
                {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <script>
        // 图表配置
        var options = {
            chart: {type: 'line'},
            title: { text: null},
            xAxis: {
                categories: {{read_nums_dates|safe}},
                tickmarkPlacement: 'on',
                title: { text: '前7天阅读量'},
            },
            yAxis: {
                title: { text: null},
                labels: { enabled: false},
                girdLineDashStyle: 'Dash'
            },
            series: [{                              // 数据列
                name: '阅读量',                        // 数据列名
                data: {{read_nums|safe}}                     // 数据
            }],
            plotOptions: {
                line: {
                    dataLabels: {
                        enabled: true
                    }
                }
            },
            legend: { enabled: false},
            credits: { enabled: false},
        };
        // 图表初始化函数
        var chart = Highcharts.chart('container', options);
    </script>
{% endblock%}